/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
}

h1, h2, h3, h4, h5, h6, p {
    color: #303336 !important;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.875rem;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
}

h5 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #5C3DF5;
    --color-grey-900: #181A1B;
    --color-grey-800: #303336;
    --color-grey-700: #494D50;
    --color-grey-600: #61666B;
    --color-grey-500: #798086;
    --color-grey-400: #94999E;
    --color-grey-300: #AFB2B6;
    --color-grey-200: #C9CCCF;
    --color-grey-100: #E4E5E7;
    --color-grey-50: #F2F2F3;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-grey-900 {
    color: var(--color-grey-900) !important;
}

.color-grey-800 {
    color: var(--color-grey-800) !important;
}

.color-grey-700 {
    color: var(--color-grey-700) !important;
}

.color-grey-600 {
    color: var(--color-grey-600) !important;
}

.color-grey-500 {
    color: var(--color-grey-500) !important;
}

.color-grey-400 {
    color: var(--color-grey-400) !important;
}

.color-grey-300 {
    color: var(--color-grey-300) !important;
}

.color-grey-200 {
    color: var(--color-grey-200) !important;
}

.color-grey-100 {
    color: var(--color-grey-100) !important;
}

.color-grey-50 {
    color: var(--color-grey-50) !important;
}


.bg-line {
    z-index: -1;
}

.btn {
    border-radius: 100px;
    font-weight: 500;
    padding: .75rem 2rem;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #361FAD;
    border-color: #361FAD;
    box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -moz-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -ms-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #361FAD;
    border-color: #330DF2;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: var(--color-primary);
    border-color: #856EF7;
    box-shadow: 0 0 0 0.25rem rgb(133 110 247 / 50%);
}

.text-body-1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.text-body-2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.text-body-3 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.text-caption-1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.text-caption-2 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    text-transform: uppercase;
}

.text-caption-3 {
    font-weight: 500;
    font-size: 0.675rem;
    line-height: 1rem;
    text-transform: uppercase;
}

.text-subtitle-1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-subtitle-2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-subtitle-3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
}

.title-section {
    margin-bottom: 2.5rem;
}

.section-3 .title-section {
    margin-bottom: 5rem;
}

.card {
    border-radius: 1.5rem !important;
    overflow: hidden;
    border: 1px solid var(--color-grey-50);
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
}

.card:hover {
    transition: .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
}

.card img {
    transition: .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
}

.card:hover img {
    transform: scale(1.04);
    transition: .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
}

.on-hover {
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: var(--color-grey-800);
}

.card:hover .on-hover {
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #FAFAFA 100%);
    padding: 1.5rem;
    transition: .4s ease-in-out;
    visibility: visible;
    opacity: 100;
    border: none;
}

.card-text {
    padding: 1.5rem;
}

.navbar-light {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .1);
    border: none;
}

.navbar-light .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.nav-link {
    font-weight: 600;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.section-1 {
    margin-top: 4.875rem;
    padding-top: 8rem;
    overflow: hidden;
    margin-bottom: 8rem;
}

.section-1 .text {
    margin-bottom: 1rem;
}

.section-2 {
    margin-top: -78px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
}

.section-3 {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    overflow: hidden;
}

.section-4 .contact {
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
}

.section-4 h4 {
    color: #fff !important;
}

.section-4 span, .section-4 a {
    color: rgba(255, 255, 255, 0.8);
}

.section-4 .email {
    text-decoration: none;

}

.section-4 .accent-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
}

.section-4 .accent-right {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
}

.section-4 .socialmedia .wrapper {
    background: #fff;
    border: 1px solid var(--color-grey-50);
    margin: 0;
    padding: 2rem;
    position: relative;
    border-radius: 1.5rem;
    transition: .4s;
}

.section-4 .socialmedia .wrapper:hover {
    box-shadow: 0px 16px 24px rgba(48, 46, 56, 0.08);
    transform: scale(1.01);
    transition: .4s;
}

.section-4 .socialmedia .wrapper .instagram {
    background: -webkit-linear-gradient(45deg, #FFC273, #E56969, #8A49A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4 .socialmedia .wrapper .accent-media {
    position: absolute;
    right: 0;
    bottom: 0;
}

.no-page {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.slide-top {
    -webkit-animation: slide-top 1s ease-in-out infinite alternate-reverse;
    animation: slide-top 1s ease-in-out infinite alternate-reverse;
}

.counter-pill {
    padding: 0.625rem 1.25rem;
    border-radius: 100px;
    font-weight: 700;
    margin-right: 1rem;
    font-size: 0.875rem;
}

.counter-pill.pill-1 {
    background-color: #D6CFFC;
    border: 4px solid #EFECFE;
    color: var(--color-primary);
}

.counter-pill.pill-2 {
    background-color: #D7F4F2;
    border: 4px solid #EFF9FB;
    color: #39B0C7;
}

.counter-pill.pill-3 {
    background-color: #FEEDCD;
    border: 4px solid #FEFBEB;
    color: #FD9902;
}

.scroll-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;
    border-radius: 100px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(242, 242, 242, 0.6);
}

.wip:hover {
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.badge {
    font-size: .75rem;
    color: #fff;
    font-weight: 500;
    padding: .25rem .5rem;
    background-color: var(--color-primary);
    border-radius: 100px;
    width: fit-content;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.rotate-center {
	-webkit-animation: rotate-center 4s linear infinite both;
    animation: rotate-center 4s linear infinite both;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

footer {
    padding: 1rem;
    background-color: #fafafa;
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0;
}

.mask {
    --smooth-corners: 16;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}

/* Page Design System */

.design-system .image-hero img {
    position: relative;
    width: 100%;
    height: 37.5rem;
    object-fit: cover;
}

.design-system .section-content-1 {
    margin-top: 5rem;
}

.design-system .section-content-1 .title-content .row:first-child {
    margin-bottom: 5rem;
}

.design-system .card-role {
    background-color: var(--color-primary);
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: #fff;
}

.design-system .card-dashed {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: var(--var(--color-grey-800));
    border: 1px dashed var(--color-grey-200);
}

.design-system .section-content-2 {
    margin-top: 8rem;
}

.design-system .section-content-3 {
    margin-top: 8rem;
}

.design-system .section-content-4 {
    margin-top: 8rem;
}

.design-system .constraint-criteria {
    margin-top: 5rem;
}

.design-system .research-analysis {
    margin-top: 5rem;
}

.design-system .img img {
    border-radius: 1.5rem;
}

.design-system .exploration {
    margin-top: 5rem;
}

/* End Page Design System */

@media (min-width: 1400px) {
    .design-system .container {
    max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .nav-link {
        padding: 1.5rem !important;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .section-1.moreworks .w-100 {
        display: none;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }

    .section-1 {
        padding-top: 8rem;
        padding-bottom: 0;
        margin-top: 0;
    }
    .section-2 {
        padding: 3rem .5rem;
    }
    .section-3 {
        padding: 3rem .5rem;
    }
    .section-4 {
        padding: 0 0.5rem 0 0.5rem;
    }
    .section-4 .container {
        margin-bottom: 0;
    }
    .card-text {
        padding: 1.5rem;
    }
    .title-section {
        margin-bottom: 1.5rem;
    }
    .section-3 .title-section {
        margin-bottom: 1.5rem;
    }
    .section-3 .mb-5 {
        margin-bottom: 1.5rem !important;
    }
    .scroll-top {
        right: 1rem;
        bottom: 1rem;
    }
    .scroll-top img {
        width: 20px;
    }
    .design-system .no-page .image svg {
        width: 100%;
    }
}
