/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p {
    color: #303336 !important;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.875rem;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
}

h5 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #5C3DF5;
    --color-grey-900: #181A1B;
    --color-grey-800: #303336;
    --color-grey-700: #494D50;
    --color-grey-600: #61666B;
    --color-grey-500: #798086;
    --color-grey-400: #94999E;
    --color-grey-300: #AFB2B6;
    --color-grey-200: #C9CCCF;
    --color-grey-100: #E4E5E7;
    --color-grey-50: #F2F2F3;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-grey-900 {
    color: var(--color-grey-900) !important;
}

.color-grey-800 {
    color: var(--color-grey-800) !important;
}

.color-grey-700 {
    color: var(--color-grey-700) !important;
}

.color-grey-600 {
    color: var(--color-grey-600) !important;
}

.color-grey-500 {
    color: var(--color-grey-500) !important;
}

.color-grey-400 {
    color: var(--color-grey-400) !important;
}

.color-grey-300 {
    color: var(--color-grey-300) !important;
}

.color-grey-200 {
    color: var(--color-grey-200) !important;
}

.color-grey-100 {
    color: var(--color-grey-100) !important;
}

.color-grey-50 {
    color: var(--color-grey-50) !important;
}


.bg-line {
    z-index: -1;
}

.btn {
    border-radius: 100px;
    font-weight: 500;
    padding: .75rem 2rem;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #330DF2;
    border-color: #330DF2;
    box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -moz-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -ms-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #330DF2;
    border-color: #330DF2;
}

.text-body-1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.text-body-2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.text-body-3 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.text-caption-1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.text-caption-2 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    text-transform: uppercase;
}

.text-subtitle-1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-subtitle-2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-subtitle-3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
}

.title-section {
    margin-bottom: 2.5rem;
}

.section-3 .title-section {
    margin-bottom: 5rem;
}

.card {
    border-radius: 1rem !important;
    overflow: hidden;
    border: none;
    box-shadow: 0px 4px 24px rgba(48, 46, 56, 0.08);
    transition: transform .4s;
}

.card:hover {
    box-shadow: 0px 24px 32px rgba(48, 46, 56, 0.16);
    transform: scale(1.01);
    transition: .4s;
}

.card-text {
    padding: 2rem;
}

.navbar-light {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .1);
    border: none;
}

.navbar-light .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.nav-link {
    font-weight: 600;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.section-1 {
    margin-top: 4.875rem;
    padding-top: 10rem;
    overflow-x: hidden;
    margin-bottom: 10rem;
}

.section-2 {
    margin-top: -78px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
    overflow-x: hidden;
}

.section-3 {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    overflow-x: hidden;
}

.section-4 .contact {
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    margin-bottom: 1.5rem;
    position: relative;
    overflow-x: hidden;
}

.section-4 h4 {
    color: #fff !important;
}

.section-4 span, .section-4 a {
    color: rgba(255, 255, 255, 0.8);
}

.section-4 .email {
    text-decoration: none;

}

.section-4 .accent-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
}

.section-4 .accent-right {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
}

.section-4 .socialmedia .wrapper {
    background: #fafafa;
    margin: 0;
    padding: 2rem;
    position: relative;
    border-radius: 2rem;
    transition: .4s;
}

.section-4 .socialmedia .wrapper:hover {
    box-shadow: 0px 16px 24px rgba(48, 46, 56, 0.08);
    transform: scale(1.01);
    transition: .4s;
}

.section-4 .socialmedia .wrapper .instagram {
    background: -webkit-linear-gradient(45deg, #FFC273, #E56969, #8A49A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4 .socialmedia .wrapper .accent-media {
    position: absolute;
    right: 0;
    bottom: 0;
}

.no-page {
    margin-top: 10rem;
}

.slide-top {
    -webkit-animation: slide-top 1s ease-in-out infinite alternate-reverse;
    animation: slide-top 1s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

footer {
    padding: 1rem;
    background-color: #FAF9FA;
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .nav-link {
        padding: 1.5rem !important;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }

    .section-1 {
        padding-top: 8rem;
        padding-bottom: 0;
        margin-top: 0;
    }
    .section-2 {
        padding: 3rem .5rem;
    }
    .section-3 {
        padding: 3rem .5rem;
    }
    .section-4 {
        padding-top: 0;
        padding-bottom: 3rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .section-4 .container {
        margin-bottom: 0;
    }
    .card-text {
        padding: 1.5rem;
    }
    .title-section {
        margin-bottom: 1.5rem;
    }
    .section-3 .title-section {
        margin-bottom: 1.5rem;
    }
    .section-3 .mb-5 {
        margin-bottom: 1.5rem !important;
    }

    .no-page {
        margin-top: 7.5rem;
    }
}
