/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/

#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #5C3DF5;
    position: fixed;
    border-radius: 100px;
    z-index: 101;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 16px;
    border: 4px solid #750c7e;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
}

@media (max-width: 768px) {
    #pointer-dot {
        border: 0px solid #5C3DF5;
        position: fixed;
        border-radius: 100px;
        z-index: 101;
        pointer-events: none;
        transition: border-color 0.5s;
    }
    
    #pointer-ring {
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        padding: 0px;
        border: 0px solid #750c7e;
        position: fixed;
        border-radius: 100px;
        z-index: 102;
        pointer-events: none;
    }
}