/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p {
    color: #302E38 !important;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 6.875rem;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.75rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 900;
}

h5 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
}

h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #5C3DF5;
    --color-secondary: #928FA3;
  }

.bg-line {
    z-index: -1;
}

.btn {
    border-radius: 100px;
    font-weight: 500;
    padding: .75rem 2rem;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #330DF2;
    border-color: #330DF2;
    box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -moz-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
    -ms-box-shadow: 0px 4px 8px 2px rgba(92, 61, 245, 0.24);
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    background-color: #330DF2;
    border-color: #330DF2;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.text-secondary-2 {
    color: #5F5C70;
}

.text-body-1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
}

.text-caption-1 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.text-caption-2 {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-primary);
}

.text-subtitle-1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.title-section {
    margin-bottom: 2.5rem;
}

.section-3 .title-section {
    margin-bottom: 5rem;
}

.card {
    border-radius: 2rem !important;
    overflow: hidden;
    border: none;
    box-shadow: 0px 4px 24px rgba(48, 46, 56, 0.08);
}

.card:hover {
    box-shadow: 0px 24px 32px rgba(48, 46, 56, 0.16);
    transition: .3s;
}

.card-text {
    padding: 2rem;
}

.navbar-light {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, 0);
}

.nav-link {
    font-weight: 600;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.section-1 {
    margin-top: 4.875rem;
    padding-top: 9.375rem;
    height: 100vh;
}

.section-2 {
    margin-top: -78px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FAF9FA;
}

.section-3 {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
}

.section-4 .container {
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    margin-bottom: 6.25rem;
    position: relative;
}

.section-4 h4 {
    color: #fff !important;
}

.section-4 span {
    color: rgba(255, 255, 255, 0.8);
}

.section-4 .icon > div {
    background-color: #fff;
    padding: 0.875rem;
    border-radius: 1rem;
}

.section-4 .accent-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
}

.section-4 .accent-right {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
}

footer {
    padding: 1rem;
    background-color: #FAF9FA;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .nav-link {
        padding: 1rem !important;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .section-1 {
        padding: 9rem .5rem;
        margin-top: 0;
        height: 100%;
    }

    .section-2 {
        padding: 3rem .5rem;
    }

    .section-2 h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .section-3 {
        padding: 3rem .5rem;
    }

    .section-3 h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .section-4 {
        padding-top: 0;
        padding-bottom: 3rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .section-4 h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .section-4 .text-subtitle-1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .section-4 .container {
        margin-bottom: 0;
    }

    .card-text {
        padding: 1.5rem;
    }

    .card-text .text-body-1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .card-text .text-caption-1 {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .card-text h6 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .title-section {
        margin-bottom: 1.5rem;
    }

    .section-3 .title-section {
        margin-bottom: 1.5rem;
    }

    .section-3 .mb-5 {
        margin-bottom: 1.5rem !important;
    }
}
